@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-white: #FFFFFF;
  --background-grey: #F4F6F6;
  --text-black: #000000;
  --text-gray1: #3F5D5A;
  --text-gray2: #4F7471;
  --text-gray3: #72908D;
  --text-white: #FFFFFF;
  --line-dotted1: #B9C7C6;
  --line-dotted2: #95ACAA;
  --line-field: #DCE3E3;
  --line-container: #EDF1F1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-white: #FFFFFF;
    --background-grey: #F4F6F6;
    --text-black: #000000;
    --text-gray1: #3F5D5A;
    --text-gray2: #4F7471;
    --text-gray3: #72908D;
    --text-white: #FFFFFF;
    --line-dotted1: #B9C7C6;
    --line-dotted2: #95ACAA;
    --line-field: #DCE3E3;
    --line-container: #EDF1F1;
    --gray-50: #EDF1F1;
    --gray-100: #DCE3E3;
    --gray-200: #B9C7C6;
    --gray-300: #95ACAA;
    --gray-400: #72908D;
    --gray-500: #4F7471;
    --gray-600: var(--text-gray3);
    --gray-700: #2F4644;
    --gray-800: #202E2D;
    --gray-900: #101717;
  }
}

body {
  color: var(--text-black);
  background: var(--background-grey);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
